/* IMPOSTAZIONI GENERALI */

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../img/sfondo.png");
}

/* HEADER */

header {
    width: 400px;
    margin: 25px auto;
    padding: 20px;
    box-sizing: 400px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: #03738C;
}

header img {
    width: 300px;

}

header p {
    padding: 25px;
}

nav ul li {
    padding: 5px 0;
}

/* MAIN */

article {
    background-color: white;
    width: 400px;
    padding: 20px;
    box-sizing: 400px;
    margin: auto;
}

/* ELEMENTI NEL MAIN - ARTICLE */

h1 {
    font-size: 30pt;
    font-weight: 500;
    margin: 25px 0;
}

article > p:first-of-type {
    color: gray;
}

p {
    padding: 25px 0;
}

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
